.wrap{
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding: 8px;
}

.desc h4{
    text-align: center;
}
.flip{
    transform: rotateY(-180deg);
}